body {
    margin: 0;
}

main {
    margin: 16px;
}

.navbar {
    background: #3a86ff;
    color: white;
    font-family: Helvetica;
    font-weight: 1000;
}

.navbar__item {
    
    cursor: pointer;
    vertical-align:text-bottom;
}

.mybutton {
    min-width: 100px;
    margin-inline : 10px;
 
}

.search {
    height : 2rem;
}
