body {
    margin: 0;
}

main {
    margin: 16px;
}

.navbar {
    background: #006d77;
    color: white;
    font-family: Helvetica;
    font-weight: 1000;
}

.navbar__item {
    
    cursor: pointer;
    vertical-align:text-bottom;
}

.mybutton {
    min-width: 100px;
    margin-inline : 10px;
    background-color: #f3722c;
    color: #0f0f0f;
}

.mybutton :hover {
    color: #f35b04;
    box-decoration-break: none;
}

.search {
    height : 2rem;
}

.aboutValues {
    min-width: 100px;
    margin-inline : 10px; 
}
 
.noline {
    text-decoration: none;
    color: #f3722c;
}
.noline :hover{
    color: #f35b04;
}